<%= form_tag('/confirm', class: "form-horizontal", method: 'post') do %>
  <%= form_group(form_label: "コース") do %>
    <select class="form-control" name="applicants[course]" >
      <option value="コースA">コースA</option>
      <option value="コースB">コースB</option>
      <option value="コースC">コースC</option>
    </select>
  <% end %>

  <%= form_group(form_label: "メールアドレス") do %>
    <input name="applicants[email]" type="text" class="form-control">
  <% end %>
  

  <%= form_group do %>
    <input type="submit" class="btn btn-block btn-primary" value="送信">
  <% end %>
<% end %>
